/* Template CSS */
/*---------------------------------*/

.template-header {
	background-color: #f5f5f5;
}

.template-footer {
	background-color: #f5f5f5;
}

.footer-content {
	font-size: 12px;
	margin-bottom: 0;
	padding-top: 3px;
	padding-bottom: 3px;
}

/* Flexbox Sticky Footer CSS */
/*---------------------------------*/

.sfooter {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.sfooter-content {
	flex: 1;
}

/* About Us CSS */
/*---------------------------------*/

#about-section {
	padding-top: 30px;
	padding-bottom: 40px;
}

#team-section {
	padding-top: 20px;
}

.about {
	font-family: Helvetica;
	font-size: large;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}

@media (max-width: 768px) {
	.about {
		font-size: medium;
		padding-left: 0;
		padding-right: 0;
	}
}

.bg-light-gray {
	background-color: #f5f5f5;
}

.section-subheading{
	margin-top: 60px;
	margin-bottom: 20px;
}

.team-member {
	text-align: center;
	margin-bottom: 50px;
}

.team-member img {
	margin: 0 auto;
	border: 7px solid white;
}

.links {
	padding: 30px 30px;
}

.links img{
	max-height: 80px;
}

.img-centered {
	margin:0 auto;
}

/* Home View CSS */
/*---------------------------------*/

.logo-search {
	padding-top: 200px;
}

@media screen and (max-width: 768px) {
	.logo-resize {
		max-width: 100% !important;
		height: auto !important;
	}
}

@media screen and (min-width: 768px) {
	.logo-resize {
		max-width: 100% !important;
		max-height: 100% !important;
	}
}

/* Home View CSS */
/*---------------------------------*/

@media screen and (min-width: 768px) {
	#background {
		opacity: .75;
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		margin: 0 auto;
		width: auto;
		height: auto;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url("../images/screenshot.jpg") no-repeat;
		background-size: cover;
	}
}

@media screen and (max-width: 768px) {
	#background {
		display: none;
	}
	#homebody {
		background-image: url("../images/test.jpg") !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
	}
}
/* Map View CSS */
/*---------------------------------*/
.button-wrap {
	position: absolute;
	bottom: 3vh;
}
.button-wrap > section {
	margin: 1rem 0;
}
#button img {
	height: 100px;
}
.input-group {
	margin-left: 20px;
	margin-right: 20px;
}



/* Crime Detail View CSS */
/*---------------------------------*/

#crime-detail-header {
	background-color: red;
	margin-bottom: 20px;
	font-size: 3rem;
	color: white;;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}
#crime-incident {
	background-color: white;
	/**border: 2px gray;**/
	margin: 5px 5px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
	/**border-radius: 10px;*/
}

@media (max-width: 768px) {
	#crime-incident {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.bg-darker-gray {
	background-color: #C7C7C7;
}


/* Park Detail View CSS */
/*---------------------------------*/


/* Directory View CSS */
/*---------------------------------*/
.data-drop {
	padding-top: 100px;
}