/* logo
-------------------------------------------------- */
.logo img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* video
-------------------------------------------------- */
#background-video {
	width:100%;
	height:100%;
	opacity: 0.5;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
	background-size: cover;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.video-abq {
		min-width:100%;
		min-height:100%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.video-abq {
		min-height: 100%;
		max-height: 100%;
	}
}

/* search bar
-------------------------------------------------- */



/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}


/* about
___________________________________________________________ */
.about-section {
	padding-top: 80px;
	font-family: Helvetica;
	font-size: large;
	text-align: center;
}


/*ABOUT PAGE====================================================*/
.section-subheading{
	margin-top: 70px;
	margin-bottom: 20px;
}
