/* logo
-------------------------------------------------- */
.logo img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.vertical-align {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

/* video
-------------------------------------------------- */
#background-video {
	width:100%;
	height:100%;
	opacity: 0.5;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
	background-size: cover;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.video-abq {
		min-width:100%;
		min-height:100%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.video-abq {
		min-height: 100%;
		max-height: 100%;
	}
}

/* search bar
-------------------------------------------------- */



/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}


/* About
___________________________________________________________ */
#about-section {
	padding-top: 80px;
	padding-bottom: 80px;
}

.about {
	font-family: Helvetica;
	font-size: large;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}

@media (max-width: 768px) {
	.about {
		font-size: medium;
		padding-left: 0px;
		padding-right: 0px;
	}
	#about-section {
		padding-top: 60px;
		padding-bottom: 30px;

	}
}
.bg-light-gray {
	background-color: #f5f5f5;
}
.section-subheading{
	margin-top: 60px;
	margin-bottom: 20px;
}
.team-member {
	text-align: center;
	margin-bottom: 50px;
}
.team-member img {
	margin: 0 auto;
	border: 7px solid white;
}
.links {
	padding: 30px 30px;
}
.links img{
	max-height: 80px;
}
.img-centered {margin:0 auto;
}