<phpunit>
	<testsuites>
		<testsuite name="Abquery">
			<!--<file>ParkTest.php</file>
			<file>CrimeTest.php</file>
			<file>AmenityTest.php</file>-->
			<file>FeatureTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhiteList="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>